.app-text{
  max-width: 50%;
  margin: 100px auto auto;
  text-align: justify;
}


.translate-button{
  display: block;
  margin: 50px auto auto;
  border-radius: 40px;
  padding: 15px;
  background-color: rgb(75, 152, 239);
  color: aliceblue;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.dropdown-menu{
  max-height: 12rem;
  overflow-y: auto;
}
.custom-dropdown{
  margin-top: 20px;
  text-align: center;
}

.heading{
  margin-top: 20px;
  text-align: center;
}