.app-text{
  max-width: 50%;
  margin: 100px auto auto;
  text-align: justify;
}


.translate-button{
  display: block;
  margin: 50px auto auto;
  border-radius: 40px;
  padding: 15px;
  background-color: #0d6efd;
  color: aliceblue;
  font-weight: 500;
  font-size: large;
  cursor: pointer;
  border-color: white;
}

.dropdown-menu{
  max-height: 12rem;
  overflow-y: auto;
}
.custom-dropdown{
  margin-top: 20px;
  text-align: center;
}

.heading{
  margin-top: 20px;
  text-align: center;
}

.text-box{
  text-align: center;
  margin-top: 50px;
}

.text-box-area{
  border-radius: 10px;
}

.add-text-button{
  margin-top: 10px;
  border-radius: 10px;
}


.ending-space{
  height: 100px;
}